@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');
/************************************* General CSS **************************************/
body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/***************************************************************************************/
/************************************ General View *************************************/
.container{
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/***************************************************************************************/
/************************************ Title Section ************************************/
.title-section{
  width: 50vw;
  background-image: url(./utils/mosque.svg);
  background-size: cover;
  background-position: center;
}
/***************************************************************************************/
/*********************************** Content Section ***********************************/
.content-section{
  width: 50vw;
  background-color: #619E52;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/***************************************************************************************/
/* @media screen and (max-width: 768px) {
  .container{
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-y: scroll;
  }
  .title-section{
    width: 100vw;
    height: 100vh;
    background-image: url(./utils/mosque.svg);
    background-size: cover;
    background-position: center;
  }
  .content-section{
    width: 100vw;
    height: 100%;
    background-color: #619E52;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
} */